.cardContainer {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  overflow: hidden;
  border-radius: 8px;

  &::before {
    content: "";
    position: absolute;
    width: calc(var(--card-width) / 2);
    height: calc(var(--card-height) * 2);
    background: linear-gradient(
      90deg,
      transparent,
      var(--main-gradient),
      transparent
    );
    animation: rotation_481 5000ms infinite linear;
  }

  .cardContent {
    position: relative;
    border-radius: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #151515;
  }
}
@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
