.container {
  width: 100px;
  height: 100px;
  // background-color: red;
  transition: background-color 1s ease;
  border: 2px solid blue;
  box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.267) inset;
}
